.page-top {
  background-image: url("../image/room/page_top.jpg");
}

.navigation-image1 {
  background-image: url("../image/room/navigation_1.jpg");
}

.navigation-image2 {
  background-image: url("../image/room/navigation_2.jpg");
}


.bed {
  width: 100%;
  height: 690px;
  background-color: #17457B;
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  padding-right: 650px;
  padding-top: 144px;
  position: relative;
}

.bed img.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bed img.line  {
  width: 100%;
  object-fit: scale-down;
}

.bed .part1 {
  display: flex;
  padding: 48px 0 48px 0;
  justify-content: center;
  font-size: 28px;
  line-height:58px;
  color: white;
}

.bed .part2 {
  width: 100%;
  font-size: 18px;
  line-height: 38px;
  color: white;
}

.point {
  width: 50px;
  height: auto;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.pool-head {
  padding-top: 48px;
}

.pool-head .title {
  font-size: 24px;
  line-height: 44px;
}

.pool-head .description {
  margin-top: 48px;
  font-size: 18px;
  line-height: 38px;
}

.pool {
  margin-top: 48px;
  display: flex;
  gap: 10px;
}

.pool .left-box {
  padding-top: 96px;
  width: 28%;
}

.pool .left-box .title {
  font-size: 24px;
  line-height: 44px;
}

.pool .left-box .text {
  margin-top: 48px;
  font-size: 18px;
  line-height: 38px;
}

.last-table {
  position: relative;
  background-color: #ABCED8;
}

.last-table .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}