.page-top {
  background-image: url("../image/room/page_top.jpg");
}
.navigation-image1 {
  background-image: url("../image/room/navigation_1.jpg");
}
.navigation-image2 {
  background-image: url("../image/room/navigation_2.jpg");
}
