* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body,
p,
button {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 38px;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}

.bg-container {
  max-width: 1280px;
  margin: auto;
}
.container {
  max-width: 1080px;
  margin: auto;
}

.page-top {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: white;
}
.page-introduce {
  background-image: url("../image/page_introduce.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px;
  text-align: center;
}
.page-introduce .introduce-title {
  font-size: 28px;
  margin-bottom: 64px;
}
.page-introduce .introduce-content {
  margin-bottom: 64px;
}
.page-introduce .introduce-navigation1,
.page-introduce .introduce-navigation2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.page-introduce .introduce-navigation1 .navigation-item,
.page-introduce .introduce-navigation2 .navigation-item {
  margin: 0px 10px;
}
.page-introduce .introduce-navigation1 .navigation-item .navigation-image {
  width: 256px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-introduce .introduce-navigation1 .navigation-item .navigation-content,
.page-introduce .introduce-navigation2 .navigation-item .navigation-content {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 28px;
}
.page-introduce .introduce-navigation1 .navigation-item .navigation-content {
  height: 80px;
  background-color: #60b49f;
  color: white;
}
.page-introduce .introduce-navigation2 .navigation-item .navigation-content {
  width: 256px;
  height: 60px;
  background-color: #abced8;
}

.section-container {
  padding: 96px 0px;
}
.section-sub-container1 {
  margin-bottom: 64px;
}
.section-sub-container2 {
  margin-bottom: 48px;
}
.section-title {
  font-size: 24px;
  line-height: 58px;
  text-align: center;
}
.section-sub-title {
  font-size: 24px;
  line-height: 44px;
  margin: 48px 0px;
}

.contact-info {
  color: #b7282e;
  line-height: 21px;
  margin-bottom: 24px;
}
.contact-info-telephone {
  font-size: 28px;
  line-height: 38px;
}

.button-default {
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #60b49f;
  color: white;
}
.button-confirm {
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #abced8;
  color: black;
}

.category-badge {
  font-size: 16px;
  width: 120px;
  height: 30px;
  background-color: #58595a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.information-two-column-table {
  width: 100%;
  padding: 30px 60px;
  margin-bottom: 30px;
}
.information-two-column-table tr > td:nth-child(1) {
  width: 33%;
  border-top: 3px solid #60b49f;
  padding: 15px;
}
.information-two-column-table tr > td:nth-child(2) {
  width: 67%;
  border-top: 1px solid #60b49f;
  padding: 15px;
}
.information-two-column-table tr:last-child > td:nth-child(1) {
  border-bottom: 3px solid #60b49f;
}
.information-two-column-table tr:last-child > td:nth-child(2) {
  border-bottom: 1px solid #60b49f;
}

.important-mark {
  color: #b7282e;
}
